//------------------------------------------------------
//utils
@import "../../utils/map";
@import "../../utils/Mixins/mixin-mediaqueries";

//------------------------------------------------------
@include responsive(small-tablet-min, large-tablet-and-laptop-max) {
    .header {
        &__title {
            font-size: 50px;
            top: -20px;
            left: 0px;
        }
    }
}

@include responsive(small-tablet-min, small-tablet-max) {
    .header {
        &__title {
            font-size: 40px;
            top: -15px;
            left: 0px;
        }
    }
}

@include responsive(zero-px, small-devices-max) {
    .header {
        &__title {
            font-size: 30px;
            left: 0px;
            top: -5px;
        }
    }
}
