//----------------------------------------------------
//utils sass
@import "../utils/variables";

//----------------------------------------------------
//bases footer
.footer {
    position: absolute;
    box-sizing: border-box;
    height: 215px;
    width: 100%;
    bottom: 1px;
    //desk
    &__copyright {
        font-weight: bold;
        z-index: 11;
        position: absolute;
        bottom: -10px;
        left: 20%;
        font-size: 18px;
        margin-bottom: 95px;
        text-shadow: 0px 0px 4px lighten($main-color-desk, 50%);
        transform: skew(-15deg);
        &.darkCopyright {
            color: #62e7aa;
            text-shadow: 0px 0px 4px transparent;
        }
    }
    &__desk {
        position: relative;
        z-index: 10;
        top: -5px;
        height: 65%;
        width: 60%;
        margin: auto;
        transform: perspective(150px) rotateX(5deg);
        background-color: $main-color-desk;

        //dark mode
        &.darkDesk {
            background-color: darken($main-color-desk, 20%);

            &::after {
                content: " ";
                display: block;
                height: 100%;
                width: 100%;
                background: linear-gradient(rgb(0, 0, 0, 0.8), transparent);
                rotate: 180deg;
            }
        }

        &::after {
            content: " ";
            display: block;
            height: 100%;
            width: 100%;
            background: linear-gradient(rgb(0, 0, 0, 0.5), transparent);
        }

        //thickness of the desk
        &__front {
            position: relative;
            z-index: 11;
            top: -3px;
            height: 9px;
            width: 62.5%;
            margin: auto;
            background-color: darken($main-color-desk, 5%);
            border-bottom: 1px black solid;

            &::after {
                content: " ";
                display: block;
                height: 100%;
                width: 100%;
                background: linear-gradient(rgb(0, 0, 0, 0.3), transparent);
            }

            //dark mode
            &.darkDeskFront {
                background-color: darken($main-color-desk, 35%);
            }
        }

        //under the desk top
        &__underTop {
            position: relative;
            z-index: 10;
            top: -3px;
            height: 32%;
            width: 60%;
            background-color: darken($main-color-desk, 3%);
            margin: auto;

            &::after {
                content: " ";
                display: block;
                height: 100%;
                width: 100%;
                background: linear-gradient(rgb(0, 0, 0, 0.5), transparent);
            }

            //dark mode
            &.darkUnderTop {
                background-color: darken($main-color-desk, 25%);

                &::after {
                    content: " ";
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgb(0, 0, 0, 0.8), transparent);
                }
            }
        }

        &__drawer {
            position: absolute;
            height: 100%;
            width: 33.33%;
            background-color: darken($main-color-desk, 3%);
            margin-left: 33.33%;
            border-left: 2px rgb(0, 0, 0, 0.7) solid;
            border-right: 2px rgb(0, 0, 0, 0.7) solid;

            &::after {
                position: absolute;
                top: 0px;
                content: " ";
                display: block;
                height: 100%;
                width: 100%;
                background: linear-gradient(rgb(0, 0, 0, 0.5), transparent);
            }

            //dark mode
            &.darkDrawer {
                background-color: darken($main-color-desk, 25%);

                &::after {
                    content: " ";
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgb(0, 0, 0, 0.8), transparent);
                }
            }

            &__grip {
                position: relative;
                z-index: 12;
                height: 15px;
                width: 15px;
                background: linear-gradient(rgb(0, 0, 0, 0.5), grey);
                margin: auto;
                margin-top: 25px;
                border-radius: 50%;
                box-shadow: 0px 0px 5px;
            }
        }

        //on the desk
        &__keyboard {
            display: flex;
            box-sizing: border-box;
            flex-wrap: wrap;
            position: absolute;
            height: 50px;
            width: 250px;
            top: 50px;
            left: 18%;
            background-color: rgb(194, 194, 194);
            box-shadow: 0px 0px 5px black;
            padding-left: 5px;

            &::after {
                position: absolute;
                top: 0px;
                left: 0px;
                content: " ";
                display: block;
                height: 100%;
                width: 100%;
                background: linear-gradient(rgb(0, 0, 0, 0.2), transparent);
            }

            &__front {
                position: absolute;
                width: 251px;
                height: 6px;
                transform: rotateX(-45deg);
                top: 98px;
                left: 18%;
                background-color: darken(rgb(194, 194, 194), 10%);
                box-shadow: inset 0px 0px 3px black;
            }
        }

        &__mousepad {
            position: absolute;
            left: 58%;
            top: 50px;
            height: 70px;
            width: 100px;
            background-color: black;
            border-radius: 5px;
            box-shadow: 0px 5px 5px black;
        }

        &__mouse {
            rotate: 10deg;
            height: 35px;
            width: 25px;
            background-color: rgb(232, 232, 232);
            margin: auto;
            margin-top: 20px;
            border-radius: 10px/15px;
            box-shadow: inset 2px -5px 5px rgb(147, 146, 146);
            &.darkMouse {
                box-shadow: inset 2px -5px 5px rgb(87, 87, 87);
                background-color: rgb(255, 255, 255);
            }

            &TouchOne {
                position: relative;
                top: 10px;
                height: 1px;
                background-color: rgb(147, 146, 146);
                width: 100%;
            }

            &TouchTwo {
                position: relative;
                rotate: 90deg;
                top: 5px;
                height: 1px;
                background-color: rgb(147, 146, 146);
                width: 40%;
                margin: auto;
            }
        }
    }
}

//----------------------------------------------------------
//media queries
@media screen and (max-width: 1099px) {
    .footer {
        &__copyright {
            left: 10%;
        }
        &__desk {
            width: 80%;

            &__front {
                width: 89%;
            }

            &__underTop {
                width: 80%;
            }

            &__keyboard {
                left: 7%;

                &__front {
                    left: 7%;
                }
            }

            &__mousepad {
                top: 30px;
                left: 50%;
            }

            &__front {
                width: 83%;
            }
        }
    }
}

@media screen and (max-height: 900px) and (max_width: 1000px) {
    .footer {
        height: 180px;
        &__desk {
            &__keyboard {
                top: 20px;
                &__front {
                    top: 88px;
                }
            }

            &__mousepad {
                top: 20px;
            }

            &__front {
                width: 83%;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .footer {
        height: 185px;
        &__copyright {
            left: 2%;
            margin-bottom: 80px;
        }
        &__desk {
            width: 96%;

            &__underTop {
                width: 95%;
            }

            &__keyboard {
                top: 8px;
                left: 2%;
                width: 200px;
                height: 50px;

                &__front {
                    top: 55px;
                    left: 2%;
                    width: 200px;
                }
            }

            &__mousepad {
                top: 15px;
                left: 63%;
                width: 50px;
            }

            &__front {
                width: 100%;
            }
        }
    }
}

@media screen and (max-height: 650px) {
    .footer {
        height: 160px;
        bottom: 0px;
        &__copyright {
            margin-bottom: 75px;
        }
        &__desk {
            &__keyboard {
                top: 20px;

                &__front {
                    top: 68px;
                }
            }

            &__mousepad {
                top: 5px;
            }

            &__front {
                top: -4px;
                height: 7px;
                width: 82.5%;
            }

            &__underTop {
                top: -4px;
            }
        }
    }
}

@media screen and (max-height: 650px) and (max-width: 750px) {
    .footer {
        &__desk {
            &__front {
                width: 99%;
            }

            &__keyboard {
                &__front {
                    top: 69px;
                }
            }
        }
    }
}
@media screen and (max-height: 650px) and (min-width: 1100px) {
    .footer {
        &__desk {
            &__front {
                width: 62%;
            }
        }
    }
}
@media screen and (max-width: 410px) {
    .footer {
        &__desk {
            &__mousepad {
                left: 80%;
                top: 5px;
            }
        }
    }
}
