//---------------------------------------------------------
//import utils sass
@import "../utils/variables";

//---------------------------------------------------------
//main rules for the screen
.screen {
    position: relative;
    box-sizing: border-box;
    border: 2px $border-screen solid;
    width: 98%;
    margin: auto;
    top: 1%;
    height: 75%;
}

//---------------------------------------------------------
//white and dark theme
.whitescreen {
    background-color: $color-screen;
    box-shadow: 0px 0px 10px black;
}
.darkscreen {
    background-color: $color-screen;
    box-shadow: 0px 0px 100px white;
}
