//------------------------------------------------------
//utils
@import "../../utils/map";
@import "../../utils/Mixins/mixin-mediaqueries";

//---------------------------------------------------------
//media queries special height for the place of the screen
@media screen and (max-height: 900px) {
    .homeScreen {
        height: 70%;
        &__main {
            height: 80%;
        }
    }
}

//------------------------------------------------------
//rules for the place of the page in the virtual screen
@media screen and (max-height: 700px) and (max-width: 300px) {
    .homeScreen {
        height: 68%;
        margin-top: 7%;
    }
}
