@import "../../../utils/variables";
@import "../../../utils//keyframesMenu";

.menu {
    &__logo {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 22;
        display: flex;
        justify-content: center;
        align-items: center;

        &__topRod {
            position: relative;
            top: -2px;
            width: 20px;
            height: 3px;
            background-color: lighten($main-back-color, 15%);
            &.dark {
                background-color: $fluo-color;
            }
        }
        &__bottomRod {
            position: relative;
            top: 2px;
            width: 20px;
            height: 3px;
            background-color: lighten($main-back-color, 15%);
            &.dark {
                background-color: $fluo-color;
            }
        }
        &__open {
            &__topRod {
                position: relative;
                top: 1.5px;
                width: 20px;
                height: 3px;
                background-color: lighten($main-back-color, 15%);
                rotate: 45deg;
                &.dark {
                    background-color: $fluo-color;
                    z-index: 21;
                }
            }
            &__bottomRod {
                position: relative;
                top: -1.5px;
                width: 20px;
                height: 3px;
                background-color: lighten($main-back-color, 15%);
                rotate: -45deg;
                &.dark {
                    background-color: $fluo-color;
                    z-index: 21;
                }
            }
        }
    }
    &__container {
        cursor: pointer;
        position: relative;
        z-index: 21;
        height: 50px;
        width: 50px;
        border: 1px lighten($main-back-color, 30%) solid;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        margin-top: 10px;
        background-color: white;
        border-radius: 6px;
        box-shadow: 0px 0px 7px $main-back-color;
        &:hover {
            animation: scaleMenuAnim 100ms ease-in-out both;
            box-shadow: 0px 0px 15px $main-back-color;
        }
        &.dark {
            box-shadow: 0px 0px 15px $fluo-color;
            &:hover {
                animation: scaleMenuAnim 100ms ease-in-out both;
                box-shadow: 0px 0px 25px lighten($main-back-color, 100%);
            }
            &::after {
                position: absolute;
                content: " ";
                display: block;
                background: radial-gradient($main-back-color 30%, $fluo-color);
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
        }
        &::after {
            position: absolute;
            content: " ";
            display: block;
            background: radial-gradient(
                transparent,
                lighten($main-back-color, 50%)
            );
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
        &__open {
            cursor: pointer;
            position: relative;
            z-index: 21;
            height: 50px;
            width: 50px;
            border: 1px lighten($main-back-color, 30%) solid;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 10px;
            margin-top: 10px;
            background-color: white;
            border-radius: 6px;
            animation: mouveMenu 300ms ease-in-out both;
            box-shadow: 0px 0px 7px $main-back-color;
            &.dark {
                box-shadow: 0px 0px 15px $fluo-color;
                &::after {
                    position: absolute;
                    content: " ";
                    display: block;
                    background: radial-gradient(
                        $main-back-color 30%,
                        $fluo-color
                    );
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                }
            }
            &::after {
                position: absolute;
                content: " ";
                display: block;
                background: radial-gradient(
                    transparent,
                    lighten($main-back-color, 50%)
                );
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
        }

        &__links {
            position: absolute;
            top: 55px;
            display: flex;
            flex-direction: column;
            background: radial-gradient(white, transparent 80%);
            padding-top: 20px;
            &.dark {
                background: radial-gradient(black, transparent 80%);
            }
        }
        &__link {
            &__anim {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                border: 1px grey solid;
                margin: auto;
                border-radius: 6px;
                background-color: white;
                border: 1px lighten($main-back-color, 30%) solid;
                box-shadow: 0px 0px 7px $main-back-color;
                &:hover {
                    animation: scaleMenuAnim 100ms ease-in-out both;
                    box-shadow: 0px 0px 15px $main-back-color;
                }
                &.dark {
                    box-shadow: 0px 0px 15px $fluo-color;
                    &:hover {
                        animation: scaleMenuAnim 100ms ease-in-out both;
                        box-shadow: 0px 0px 25px lighten($main-back-color, 100%);
                    }
                    &::after {
                        position: absolute;
                        content: " ";
                        display: block;
                        background: radial-gradient(
                            $main-back-color 30%,
                            $fluo-color
                        );
                        height: 30px;
                        width: 30px;
                        border-radius: 5px;
                    }
                }

                &::after {
                    position: absolute;
                    content: " ";
                    display: block;
                    background: radial-gradient(
                        transparent,
                        lighten($main-back-color, 50%)
                    );
                    height: 30px;
                    width: 30px;
                    border-radius: 5px;
                }
            }
            &__text {
                text-decoration: none;
                color: $main-back-color;
                margin-top: 5px;
                animation: textApear 400ms 100ms ease-in-out both;
                &.dark {
                    color: lighten($fluo-color, 10%);
                }
            }
        }
        &__linkOne {
            text-decoration: none;
            animation: linkOnePosition 300ms ease-in-out both;
        }
        &__linkTwo {
            text-decoration: none;
            animation: linkTwoPosition 300ms ease-in-out both;
        }
        &__linkThree {
            text-decoration: none;
            animation: linkThreePosition 300ms ease-in-out both;
        }
        &__linkFour {
            text-decoration: none;
            animation: linkFourPosition 300ms ease-in-out both;
        }
        &__linkFive {
            text-decoration: none;
            animation: linkFivePosition 300ms ease-in-out both;
        }
    }
}
