//------------------------------------------
//small adaption
@media screen and (max-width: 767px) {
    .frenchFlag {
        top: 0px;
        width: 20px;
        height: 20px;
    }

    .englishFlag {
        top: 0px;
        width: 20px;
        height: 20px;
    }
}
