@media screen and (max-width: 767px) {
    //-----------------------------------------------
    //dark theme
    .darkButton {
        width: 20px;
        height: 20px;
    }

    //-----------------------------------------------
    //white theme
    .whiteButton {
        width: 20px;
        height: 20px;
    }
}
