//-------------------------------------------
//Colors
//main colors
$main-back-color: #0b444e;
$main-screen-back-color: #60d4e8;
$fluo-color: rgb(112, 249, 242);
$color-text-clear: rgb(46, 46, 46);

//desk
$main-color-desk: #b55627;

$size-grip: 15px;
$size-width-drawer: 33.33%;

//key and keyboard
$color-key: white;
$color-border-key: rgb(222, 220, 220);
$color-keyboard: rgb(194, 194, 194);

//mouse and mousepad
$color-mouse: rgb(232, 232, 232);
$color-pad: black;

//light
$color-light: rgb(246, 246, 121);

//----------------------------------------------
//screen
//Main
$border-screen: rgb(178, 178, 178);
$color-screen: black;

//menu
$axeZ-Cube: 12.5px;
$colo-cube-one: #2d46c4;
$colo-cube-two: #e95ddf;
$color-rod-menu: rgb(222, 220, 220);
$color-back-menu: rgb(222, 220, 220);
