//-------------------------------------------
//Colors
//main colors
$main-back-color: #dfdcef;
$fluo-color: #62e7aa;

//desk
$main-color-desk: #b55627;

//key and keyboard
$color-key: white;
$color-border-key: rgb(222, 220, 220);
$color-keyboard: rgb(194, 194, 194);

//mouse and mousepad
$color-mouse: rgb(232, 232, 232);
$color-pad: black;

//----------------------------------------------
//screen
//Main
$border-screen: rgb(178, 178, 178);
$color-screen: black;
