//-----------------------------------------------------------
//import utils
@import "../../utils/variables";
@import "../../utils/mixinBack";
@import "../../utils/keyframesBack";

//-----------------------------------------------------------
//image to cover the screen with a hole in the center
.backSide {
    position: absolute;
    z-index: 20;

    height: 100%;
    width: 100%;
    background-image: url("../../../assets/back-clear.png");
    background-size: cover;
    background-position: center;
}
//dark theme
.backSide.dark {
    background-image: url("../../../assets/back-dark.png");
}

//-----------------------------------------------------------
//block image behind the animation
.backAnim {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    background-image: url("../../../assets/back-anim-clear.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        scale: 1;
        animation: rotateAnime 80000ms linear infinite;
    }
}
//dark theme
.backAnim.dark {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    background-image: url("../../../assets/back-anim-dark.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        position: relative;
        z-index: 13;
        scale: 1;
        animation: rotateAnime 80000ms linear infinite;
    }
}
//-----------------------------------------------------------
//animation
.dot {
    &__ancor {
        &__one {
            rotate: 20deg;
            transform: rotateY(180deg);
        }
        &__two {
            rotate: -40deg;
        }
        &__three {
            rotate: 100deg;
            transform: rotateY(180deg);
        }
    }
    &__one {
        @include dotAnimback();
        &::after {
            position: relative;
            top: -4px;
            content: " ";
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: radial-gradient(
                lighten($main-screen-back-color, 50%),
                darken($main-screen-back-color, 15%)
            );
        }
        &__bis {
            @include dotAnimback();
            rotate: 180deg;
            &::after {
                position: relative;
                top: -4px;
                content: " ";
                display: block;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                background: radial-gradient(
                    lighten($main-screen-back-color, 50%),
                    darken($main-screen-back-color, 15%)
                );
            }
        }
    }
    &__two {
        @include dotAnimbackTwo();
        &::after {
            position: relative;
            top: -1px;
            content: " ";
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: radial-gradient(
                lighten($main-screen-back-color, 50%),
                darken($main-screen-back-color, 15%)
            );
        }
    }
    &__three {
        @include dotAnimbackTwo();
        &::after {
            position: relative;
            top: -1px;
            content: " ";
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            background: radial-gradient(
                lighten($main-screen-back-color, 50%),
                darken($main-screen-back-color, 15%)
            );
        }
    }
}

.rod {
    &__one {
        transform-origin: left;

        @include rodAnimback(100px);
        animation: rodMouve 20000ms linear infinite;
    }
    &__two {
        transform-origin: left;
        rotate: 70deg;
        @include rodAnimback(80px);
        animation: rodMouve 20000ms linear infinite;
    }
    &__three {
        transform-origin: left;
        rotate: 145deg;
        @include rodAnimback(164px);
        animation: lastRodMouve 20000ms linear infinite;
    }
}

.specialRod {
    &__one {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        left: 0px;
        top: 0px;
        animation: specialRodMouveone 20000ms linear infinite;
    }
    &__two {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        animation: specialRodMouveTwo 20000ms linear infinite;
    }
    &__three {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        animation: specialRodMouveThree 20000ms linear infinite;
    }
    &__four {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        animation: specialRodMouveFour 20000ms linear infinite;
    }
    &__five {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        animation: specialRodMouveFive 20000ms linear infinite;
    }
    &__six {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        animation: specialRodMouveSix 20000ms linear infinite;
    }
    &__seven {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        animation: specialRodMouveSeven 20000ms linear infinite;
    }
    &__eight {
        position: absolute;
        transform-origin: left;
        @include rodAnimback(164px);
        rotate: 20deg;
        animation: specialRodMouveEight 20000ms linear infinite;
    }
}
